body{font-family: 'Roboto Condensed', sans-serif;background:url(diagrama.jpg);background-size: 100%;background-attachment: fixed;}
body div img{width: 130px;margin: 5px;border: solid 4px #cccccc;}
body div{border: solid 1px black;padding: 10px;width: 80%;margin: 0 auto;background-color: lightcyan;}
legend{border:solid 1px #0000c5;padding: 3px;font-weight: bold;border-radius: 10px;background-color: #a6daea;}